<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Configurações da conexão -->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/db_buildsoft_padrao</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>

        <!-- Pool de conexões JDBC -->
        <property name="connection.pool_size">2</property>

        <!-- Dialeto SQL -->
        <property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

        <!-- Gerenciamento da sessão -->
        <property name="current_session_context_class">thread</property>

        <!-- Desabilita cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

        <!-- Exibir os comandos SQL -->
        <property name="show_sql">true</property>

        <!-- Cria as tabelas -->
        <property name="hbm2ddl.auto">update</property>
        
        <!--  Mapeamento  -->  
        <mapping class="br.com.buildsoft.domain.Usuario"/>
        <mapping class="br.com.buildsoft.domain.Investidor"/>
      	<mapping class="br.com.buildsoft.domain.Empreendimento"/>
      	<mapping class="br.com.buildsoft.domain.Unidade"/>
      	<mapping class="br.com.buildsoft.domain.AgendaVisita"/>
      	<mapping class="br.com.buildsoft.domain.Proposta"/>

    </session-factory>

</hibernate-configuration>